body {
  background: #15181C;
  margin: 0px;
  padding: 0px;
  overflow: none;
}


#particles-js {
  width: 100%;
  height: 100%;
  background: #15181C;
  position: fixed;
  z-index: -1;
}

#donate-button-anchor {
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  transition: 0.2s transform ease-in-out;
}
#donate-button-anchor:hover {
  transform: translateY(-3px);
  transition: 0.2s;
}

#donate-button {
  margin-right: 20px;
  margin-top: 15px;
  font-size: 1.3rem;
  outline: none;
  border: 0 none;
  background-color: #61DAFB;
  border-radius: 5px;
  color: #15181C;
  border: 1px solid #498CA1;

}

#title {
  margin-bottom: 0px;
  font-size: 3.0rem;
  font-weight: bold;
  padding-top: 15vh;
  position: relative;
  background: transparent;
  display: flex;
  justify-content: center;
  color: #61DAFB;
  text-align: center;
}
#sub-title {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  color: #D2D3D4;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

#date {
  display: flex;
  justify-content: center;
  color: #D2D3D4;
  margin-bottom: 12vh;
  font-size: 1.2rem;
}

.row {
margin-left: 20%;
margin-right: 20%;
}

.col-md-4 {
  color: #61DAFB;
  text-align: center;
}

.card {
  background-color: rgb(52, 53, 56);
  border-radius: 15px;
  height: 35vh;
  transition: 0.2s transform ease-in-out;
  border: 1px solid #52545B;
  -webkit-box-shadow: 3px 6px 30px -8px rgba(73,140,161,0.25);
  -moz-box-shadow: 3px 6px 30px -8px rgba(73,140,161,0.25);
  box-shadow: 3px 6px 30px -8px rgba(73,140,161,0.25);
}

.card:hover {
  transform: translateY(-10px);
  transition: 0.2s;
}
.card-title {
  margin-top: 10%;

}

.icon-container{
  font-size: 2.5rem;
  color: #D2D3D4;
}

.card-text {
  padding: 10px;
  color:#D2D3D4;
}


@media (max-width: 400px) {
  #title {
    font-size: 2.0rem;
  }
  #sub-title {
    font-size: 1.0rem;
  }
  #date {
    font-size: 1.0rem;
  }
}




